*, *::before, *::after{
    box-sizing: border-box;
}

:root {
    --text-color: #404040;
    /* --bg-color: #fff; */
    --bg-color: linear-gradient(180deg, rgb(248, 248, 248) 30%, #fff 0);
    --card-bg-color: hsl(227, 47%, 96%);
    --card-bg-color-active: hsl(226, 37%, 88%);
}

:root .dark-theme {
    --text-color: #fff;
    --bg-color: linear-gradient(180deg, #191926 30%, #10101a 0);
    --card-bg-color: hsl(228, 28%, 20%);
    --card-bg-color-active: hsl(227, 29%, 32%);
}

body {
    margin: 0;
    line-height: 1.6;
    color: var(--text-color);
    min-height: 100vh;
    background: var(--bg-color);
    background-repeat: no-repeat;
    font-size: .875rem;
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;
}


/* main */

.container {
    width: 90%;
    margin: 2em auto;
}

.title-section {
    margin-bottom: 1em;
    gap: 0;
    grid-auto-flow: dense;
}

.dark-mode-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.main-text {
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

.main-grid, 
.overview-grid {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.main-card {
    max-width: 600px;
    padding: 2em 0;
}

.main-card,
.overview-card {
    background-color: var(--card-bg-color);
    border-radius: 5px;
}

.main-card:hover,
.overview-card:hover {
    background-color: var(--card-bg-color-active);
    filter: drop-shadow(0 0 0.75rem var(--card-bg-color-active));
}

.--fb-tw {
    border-top: 5px solid hsl(210, 78%, 56%);
}

.--inst {
    border-top: 5px solid;
    border-image: linear-gradient(to right,hsl(37, 97%, 70%),hsl(329, 70%, 58%)) 1 0 0 0;
}

.--yt {
    border-top: 5px solid hsl(0, 91%, 45%);
}

.overview-card {
    display: grid;
    grid-auto-flow: dense;
    padding: 1.5em;
    gap: 1em;
}

.overview-card-label, .overview-card-num {
    grid-column: 1;
    justify-self: start;
    align-self: center;
}

.overview-card-label {
    color: var(--text-color);
    opacity: .7;
    font-weight: 700;
}

.overview-card-num {
    font-size: 2.5em;
    font-weight: 700;
}

.overview-icon, .overview-percent {
    grid-column: 2;
    justify-self: end;
    align-self: center;
}

.overview-percent {
    position: relative;
    top: 7px;
}

@media (min-width: 983px) {
    body {
        overflow: hidden;
    }
}

@media (min-width: 500px) {
    .main-grid, .overview-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .d-flex {
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .main-text {
        border: 0;
    }

    .main-grid, .overview-grid {
        gap: 2em;
    }

    .slider-container {
        align-self: center;
    }

    .dark-mode-container {
        gap: 1em;
    }
}

.dark-theme .icon-text {
    font-weight: 700;
    color: var(--text-color);
    opacity: .7;
}

.icon-container {
    display: flex;
    gap: .5em;
    margin-bottom: 0.5em;
    justify-content: center;
}

.social-icon {
    margin-bottom: 1em;
}

.followers {
    font-size: 4em;
    font-weight: 700;
    line-height: 1.1;
}

.followers-text {
    letter-spacing: 5px;
    margin-bottom: 2em;
}

.today-num {
    font-weight: 700;
}

.green::before, .red::before {
    width: 10px;
    padding-right: 3px;
    position: relative;
    bottom: 3px;
}

.green::before {
    content: url(/images/icon-up.svg);
}

.green {
    color: hsl(163, 59%, 45%);
}

.red::before {
    content: url(/images/icon-down.svg);
}

.red {
    color: hsl(0, 91%, 45%);
}

.overview {
    margin: 1em auto;
    text-align: left;
}

.overview-text {
    display: grid;
}


h1, h2, p {
    margin: 0;
}

.dashboard-subtitle, 
.dark-mode-text,
.followers-text{
  opacity: .7;
}

.dashboard-subtitle, 
.dark-mode-text{
  font-size: .8rem;
  font-weight: 700;
}

/* dark mode slider */

.dark-mode-text{
    grid-column: 1;
    justify-self: left;
    align-self: center;
}

.toggle-button {
    position: relative;
    display: inline-block;
    align-self: center;
    width: 40px;
    height: 20px;
    margin: 0;
    vertical-align: top;
    background: hsl(230, 22%, 74%);
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
    content: "";

    display: inline-block;
    position: absolute;
    left: 1.5px;
    top: 1.5px;
  
    width: 17px;
    height: 17px;
    background-color: #fff;
    border-radius: 50%;
  
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
    transform: translateX(calc(100% + 2px));
    background-color: hsl(228, 28%, 20%);
}

.toggle-button:checked {
    background: linear-gradient(to right, hsl(146, 68%, 55%), hsl(210, 78%, 56%));
}